<div class="col-12">
    <%=render("shared/card", header:"Reservation Calendar") do %>
    <div id="calendar"></div>
    <%end%>
    <%= stylesheet_pack_tag 'calendar' %>
    <%= javascript_pack_tag 'calendar' %>
</div>
