<div class="col-12">
    <%=render("shared/card", header:"Reservation Calendar") do %>
    <div id="calendar" style="height:1400px;"></div>
    <%end%>
    <%= javascript_pack_tag 'calendar' %>
</div>
