<div class="text-center">
    <div class="mb-2">Current Guest</div>
    </div>
<table class="table" style="margin-bottom:0;">
<tbody><tr>
    <td width="1"><i class="fa fa-user text-muted"></i></td>
    <td><%=property.current_reservation.guest%></td>
</tr>
<%if property.current_reservation.phone%>
<tr>
    <td><i class="fa fa-mobile text-muted"></i></td>
    <td><%=property.current_reservation.phone%></td>
</tr>
<%end%>
</tbody></table>
