<div class="d-flex align-items-center mt-auto">
    <div class="avatar avatar-md mr-3" style="background-image: url(./demo/faces/male/16.jpg)"></div>
    <div>
        <a href="./profile.html" class="text-default"><%="#{property.owner.first_name} #{property.owner.last_name}"%></a>
        <small class="d-block text-muted">Owner</small>
    </div>
</div>