<%=render "layouts/normal_wrapper" do%>

<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1 class="page-title">
    Properties
  </h1>
</div>
<div class="row row-cards row-deck">
<%=render @properties%>
</div>
<%end%>