<%=render "layouts/normal_wrapper" do%>

<p id="notice"><%= notice %></p>
<div class="row row-cards">
  <div class="col-6 col-sm-4 col-lg-2">
    <div class="card">
      <div class="card-body p-3 text-center">
        <div class="h1 m-0"><%=@property.duration%></div>
        <div class="text-muted mb-4">Total Days</div>
      </div>
    </div>
  </div>

  
  <div class="col-4">
    <%=render "properties/icals/property_ical_show"%>
  </div>
</div>
<%end%>