<a class="nav-link icon" data-toggle="dropdown">
    <i class="fe fe-bell"></i>
</a>
<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
<div class="dropdown-divider"></div>
<a href="#" class="dropdown-item text-center">Mark all as read</a>
</div>
</div>