<div class="dropdown d-none d-md-flex">
  <%=render "layouts/dashboard/user/notifications"%>
  <div class="dropdown">
    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
      <span class="avatar" style="background-image: url(./demo/faces/female/25.jpg)"></span>
      <span class="ml-2 d-none d-lg-block">
        <span class="text-default"><%="#{current_user.first_name} #{current_user.last_name}"%></span>
        <small class="text-muted d-block mt-1">Administrator</small>
      </span>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">

      <a class="dropdown-item" href="#">
        <i class="dropdown-icon fe fe-settings"></i> Settings
      </a>

      <div class="dropdown-divider"></div>
      <!--<a class="dropdown-item" href="#">
        <i class="dropdown-icon fe fe-help-circle"></i> Need help?
      </a>-->
      <%=link_to(destroy_user_session_path, method: :delete, class: "dropdown-item") do%>
        <i class="dropdown-icon fe fe-log-out"></i> Sign out
      <%end%>
    </div>
  </div>