@import '../../../shared/styles/bnbwithme.scss';

.topbar {
  .topbarContainer{
    display: flex;
    flex-direction: column;
    .title {
      flex-grow: 1;
      .image {
        margin-top: 10px;
        height: 40px;
      }
    }
  }
}

.global {
  background-color: $background;
}

.tabLabel {
  display: flex;
  color: grey;
  &.active {
    color: $bnbwithme-blue;
  }
  .icon {
    padding-right: 10px;
  }
}